.main {
    display: flex;
    /* height: 100; */
    align-items: center;
    flex-direction: column;
    color:rgb(233, 233, 233)

}

h1 {
    margin-top: 100px;
    font-size: 50px;
    padding-bottom: 30px;
}

h3 {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    text-align: center;
}

.start-btn {
    width: 200px;
    height: 60px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

.art::before {
    content: "";
    animation: signature infinite 20s;

}

@keyframes images {
    from {
        background-image: url('../BGImages/taiwan.jpg');
        background-size: cover;

    }

    25% {

        background-image: url('../BGImages/tokyotower.jpg');
        background-size: cover;
    }

    50% {
        background-image: url('../BGImages/swiss.jpg');
        background-size: cover;
    }

    75% {
        background-image: url('../BGImages/thailand.jpg');
        background-size: cover;
    }

    to {
        background-image: url('../BGImages/taiwan.jpg');
        background-size: cover;
    }
}

@keyframes signature {
    from {
        content: "Taiwan Countryside";
    }
    25% {
        content: "Tokyo Tower";
    }
    50% {
        content: "Switzerland Fields";
    }
    75% {
        content: "Thailand Beach";
    }
    to {
        content: "Taiwan Countryside"
    }
}
.main > div {
    margin-top: 130px;
    text-align: center;
}
